Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,-modernize-use-trailing-return-type, clang-analyzer-*,-modernize-use-auto'
WarningsAsErrors: '*'
CheckOptions:
  - key: clang-analyzer-core.NullDereference
    value: true